<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sq_buskingMapper">
<!-- 	<select id="selectAll" resultType="SQ_busking"> -->
<!-- 		select * from SQ_BUSKINGLIST -->
<!-- 	</select> -->
	<select id="selectAll" resultType="SQ_busking">
		select SQ_BUSKING_ID, id, title, location, latitude, longitude, url, genre, rating, teamname, 
		gallery, gallery2, gallery3, gallery4, gallery5, buskingdate, runningtime, description, end
		from sq_buskinglist
		where end > sysdate
	</select>
	
	<select id="searchList" parameterType="String" resultType="SQ_busking">
		select SQ_BUSKING_ID, id, title, location, latitude, longitude, url, genre, rating, teamname, 
		gallery, gallery2, gallery3, gallery4, gallery5, buskingdate, runningtime, description, end
		from sq_buskinglist
		where genre = #{genre}
	</select>

	<select id="selectOne" parameterType="int" resultType="SQ_busking">
		select * from sq_buskinglist
		where sq_busking_id = #{sq_busking_id}
	</select>
	
	<insert id="addBusking" parameterType="SQ_busking">
		INSERT INTO sq_buskinglist
		VALUES (sq_busking_id_sq.nextval, #{id}, #{title}, #{location}, #{latitude}, #{longitude}, '사용안함', #{genre}, 0, #{teamname}, #{gallery}, null, null, null, null
		, to_date(#{buskingdate}, 'YYYY/MM/DD HH24:Mi:ss'), #{runningtime}, #{description}, to_date(#{end}, 'YYYY/MM/DD HH24:Mi:ss'))
	</insert>
	
	
</mapper>


<!-- TO_DATE(buskingdate , 'yyyy-mm-dd hh')  -->