@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
	vertical-align: top;
}



.loadingpage{
    		background: #ffffff;
    		opacity:0.8;
    		position:fixed;
    		text-align:center;
    		left:0;
    		top:0;
    		right:0;
    		bottom:0;
    		width:100%;
    		height:100%;
    		display:block;
    		z-index:9999;
    		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000'); 
}
.loading{
	display: none;
	z-index: 0;
}
.loading-img{
	background: url("../img/loading.gif");
	margin:15% auto;
	background-size:100%;
	width:240px;
	height:160px;
	z-index:99999;
}
