@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
	vertical-align: top;
}



.loadingpage{
    		background: #ffffff;
    		opacity:0.8;
    		position:fixed;
    		text-align:center;
    		left:0;
    		top:0;
    		right:0;
    		bottom:0;
    		width:100%;
    		height:100%;
    		display:block;
    		z-index:9999;
    		filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000'); 
}
.loading{
	display: none;
	z-index: 0;
}
.loading-img{
	position:absolute;
	background: url("../img/loading.gif");
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-100px;
	background-size:100%;
	width:300px;
	height:200px;
	z-index:99999;
}
#form-update{
	color:rgba(0,0,0,0.7);
}

#update-id, #update-name{
	cursor:default;
	color:rgba(0,0,0,0.7);
}

.detail-btn{
		color:rgba(0,0,0,0.7);
		font-family: sans-serif;
		font-weight: bold;
		-web-transition:0.5s;
		transition:0.5s;
}
.detail-btn:hover{
	color:rgba(0,0,f,0.8)!important;
}





/*게시글 동그랗게 + 광고부분 처리 */
a#item_a{
	border-radius: 30px;
    overflow: hidden;
}
a#item_a:hover{
	border-radius: 30px;
	overflow: hidden;
}
img#item_img{
	filter: grayscale(70%);
	transition-duration: 0.4s;
}
div#ad_item{
	background-color: black;
	color: white;
	height: 70px;
	font: 1.3em 맑은 고딕;
}
span#ad_item_title{
	display: inline-block;
	margin-top: 20px;
}



