@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
	vertical-align: top;
}

.login{
	font-size: 12px;
	margin-top:10px;
}
.hidden{
	visibility: hidden;
	background: orange;
	-webkit-transition:0.3s;
	transition:0.3s;
}
.message{
	margin-top:5px;
	margin-right:30px;
	font-size:15px;
	color: rgba(0,0,0,0.5);
}
.select{
	z-index:1000000;
}
/* #sq_artist{
	margin-top:5px;
	font-size: 11px;
	color:rgba(0,0,0,0.3);
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor:pointer;
	-webkit-transition:0.2s;
	transition:0.2s;
}
#sq_artist:hover{
	color:rgba(0,0,0,0.8);
} */
#sq_artist{
	margin-top:-5px;
	margin-right:-30px;
	    font-family: 'Roboto', sans-serif;
	    font-size: 12px;
	    font-weight: bold;
}

.nav-artist{
	font-weight: bold;
	color:rgba(0,0,0,0.5);
	cursor:default;
	
}

#add-artist-phone{
	background:orange;
}
