<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 -->
	<properties resource="db.properties" />
	
	<typeAliases>
		<typeAlias type="squarize.vo.SQ_member" alias="sq_member"/>
	</typeAliases>
	
	<!-- DB접속 정보 셋팅 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- SQL문 정의한 파일 포함 -->
	<mappers>
		<mapper resource="mapper/testMapper.xml" />
		<mapper resource="mapper/sq_memberMapper.xml" />
	</mappers>
	
</configuration>
