<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 -->
	<properties resource="db.properties" />
	
	<typeAliases>
		<typeAlias type="squarize.vo.SQ_ad" alias="SQ_ad"/>
		<typeAlias type="squarize.vo.SQ_artist" alias="SQ_artist"/>
		<typeAlias type="squarize.vo.SQ_busking" alias="SQ_busking"/>
		<typeAlias type="squarize.vo.SQ_favorite" alias="SQ_favorite"/>
		<typeAlias type="squarize.vo.SQ_member" alias="SQ_member"/>
		<typeAlias type="squarize.vo.SQ_portfolio" alias="SQ_portfolio"/>
		<typeAlias type="squarize.vo.SQ_recruit_apply" alias="SQ_recruit_apply"/>
		<typeAlias type="squarize.vo.SQ_recruit" alias="SQ_recruit"/>
		<typeAlias type="squarize.vo.SQ_recruit_artist" alias="SQ_recruit_artist"/>
		<typeAlias type="squarize.vo.SQ_rent_apply" alias="SQ_rent_apply"/>
		<typeAlias type="squarize.vo.SQ_rent" alias="SQ_rent"/>
		<typeAlias type="squarize.vo.SQ_human" alias="SQ_human"/>
	</typeAliases>
	
	<!-- DB접속 정보 셋팅 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- SQL문 정의한 파일 포함 -->
	<mappers>
		<mapper resource="mapper/sq_memberMapper.xml" />
		<mapper resource="mapper/sq_buskingMapper.xml" />
		<mapper resource="mapper/sq_seekingMapper.xml" />
		<mapper resource="mapper/sq_rentMapper.xml" />
		<mapper resource="mapper/sq_favoriteMapper.xml" />
	</mappers>
	
</configuration>
